{% extends "layout.html" %}

{% block heading %}
        <title>Teste</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
{% endblock %}

{% block body %}
	<header> <div id="header-green" class="allheader"> <h1> <strong> BNSIR </strong> </h1> </div>  <div id="section" class="allheader"> <img class="person-image" src="static/dogAsPerson.jpg" alt="Dog."> <p class="name"> Bruce </p>	 </div> <hr> <p class="header-textOne"><strong>BIO</strong></p><p class="header-textTwo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id lorem elit. Etiam ma-lesuada laoreet nunc sit amet volutpat. Sed urna orci, euis-mod in bibendum eu,</p></header>

<!--	<section>  <p> teste </p></section> -->

	<!-- <input type="" name="" placeholder="" required=""> -->

{% endblock %}
