{% extends "layout.html" %}

{% block heading %}
        <title>Teste</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
{% endblock %}

{% block body %}
<section id="section-container">
	<section id="section-green"> 
		<h1>
			<strong>BNSIR</strong> 
		</h1> 
	</section>
	<section id="section-two">
		<img class="person-image" src="static/dogAsPerson.jpg" alt="Dog."> 
		<span "name"><p>Teste</p></span>
		<p class="name">Bruce</p> 
		<hr> 
		<p class="name-two"><strong>BIO</strong></p>   	 
		<p class="name-two">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id lorem elit. Etiam ma-lesuada laoreet nunc sit amet volutpat. Sed urna orci, euis-mod in bibendum eu,</p>
	</section>
</section>
<!--	<section>  <p> teste </p></section> -->

	<!-- <input type="" name="" placeholder="" required=""> -->

{% endblock %}
